body * {
    margin: 0;
    padding: 0;
}

header {
    background: #999;
    height: 50px;
    margin: 10px auto;
}
header h2{
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 50px
}

article {
    width: 300px;
    margin: 5px auto;
}

.result {
    width: 900px;
    margin: 5px auto;
}

.result p {
    word-spacing: 15px;
    font-size: 1.2em;
}

.result p + p {
    border-top: 1px solid pink;
}
.result span {

   padding: 2px 12px;
}
.result span + span {
    border-left: 1px solid pink;
}

#green {
    background: #66CDAA
}